
/* GLOBAL SETTINGS start*/
html, body {
	background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
}

h1 {
  font-size: 2.25rem;
}

.hero-img {
  background-position: center center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.container {
  padding: .5rem 3%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: .75rem;
}


.button {
  background-color: #A0AAA9;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  float: left;
  font-size: .85rem;
  margin: 1.5rem .5rem;
  width: 100px;
  height: auto;
}
/* end of GLOBAL SETTINGS */